*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #021C31;
}
.heading {
    font-size: 75px;
    margin-top: 0;
    margin-bottom: 0;
    text-decoration: underline;
    font-family: 'Bungee Spice';
}
nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: right;
    font-size: 23px;
    padding-top: 50px;
    background-color: blanchedalmond;
}
nav a:hover {
    transform: scale(1.3);
    transition: 0.5s;
}
nav a {
    margin-right: 16px;
    padding-right: 20px;
    text-decoration: none;
    color:blueviolet;
    font-family:cursive;
    display: inline-block; /* Display inline block */
  position: relative;
  animation: go-left 1s;
  transition: 0.5s;
}
nav a:after {
 /* Set position relative */
 content: ''; /* Add content after the element */
  position: absolute; /* Position absolute for pseudo-element */
  width: 70%; /* Full width */
  transform: scaleX(0); /* Initial scale of 0 for underline effect */
  height: 3px; /* Height of the underline */
  bottom: 0; /* Align to bottom */
  left: 0; /* Align to left */
  background-color: aqua; /* Background color of the underline */
  transform-origin: bottom right; /* Set transform origin */
  transition: transform 0.25s ease-out;
}
nav a:hover:after {
    transform: scaleX(1); /* Scale the underline on hover */
  transform-origin: bottom left;
}
@keyframes  fade-down {
    0%  {
        opacity: 0;
        transform: translateY(-50px) scale(0.9);
    }
    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }    
}
@keyframes go-left {
    0% {
        opacity: 0;
        transform: translateX(-100px) scale(0.2);
    }
   
    100% {
        opacity: 1;
        transform: translateX(0px) scale(1);
    }
}
.background-clip {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    min-height: 100vh;
}
.container {
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.displayer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.content {
    text-align: center;
    animation: fade-down 1s ;
}
.content h3 {
    font-size: 75px;
    color:  gold;
    margin-bottom: 0px;
}
.content p {
    font-size: 35px;
    color: aqua;
    text-decoration: none;
}
